<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FloodAlert</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.floodalert.services.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAuthority</display-name>
    <servlet-name>AddAuthority</servlet-name>
    <servlet-class>com.floodalert.services.AddAuthority</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAuthority</servlet-name>
    <url-pattern>/AddAuthority</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.floodalert.services.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAlert</display-name>
    <servlet-name>AddAlert</servlet-name>
    <servlet-class>com.floodalert.services.AddAlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAlert</servlet-name>
    <url-pattern>/AddAlert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.floodalert.services.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CChangePassword</display-name>
    <servlet-name>CChangePassword</servlet-name>
    <servlet-class>com.floodalert.services.CChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CChangePassword</servlet-name>
    <url-pattern>/CChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportIncident</display-name>
    <servlet-name>ReportIncident</servlet-name>
    <servlet-class>com.floodalert.services.ReportIncident</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportIncident</servlet-name>
    <url-pattern>/ReportIncident</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolveEmergencies</display-name>
    <servlet-name>ResolveEmergencies</servlet-name>
    <servlet-class>com.floodalert.services.ResolveEmergencies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolveEmergencies</servlet-name>
    <url-pattern>/ResolveEmergencies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolveEmergency</display-name>
    <servlet-name>ResolveEmergency</servlet-name>
    <servlet-class>com.floodalert.services.ResolveEmergency</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolveEmergency</servlet-name>
    <url-pattern>/ResolveEmergency</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Alert</display-name>
    <servlet-name>Alert</servlet-name>
    <servlet-class>com.floodalert.services.Alert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alert</servlet-name>
    <url-pattern>/Alert</url-pattern>
  </servlet-mapping>
</web-app>